// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: Aqua;
}
h1 {
    color: red;
}
h3 {
    color: FireBrick;
}
p {
    color: Purple;
}
